@layer components {
    .infotip {
        @apply flex flex-row items-start justify-between w-full rounded-lg p-3 [&>svg~*]:pl-10 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground transition-opacity duration-200;
        
        svg {
            @apply text-black-60;
            fill: currentColor
        }

        &--error {
            @apply bg-destructive/10 dark:bg-destructive/[8%] bg-no-repeat bg-right-top bg-contain;
            background-image: url("https://bucket.pegadaian.co.id/design-system-salt-bucket/assets/images/aksen-red.svg");
        }

        &--success {
            @apply bg-lime-50/10 dark:bg-lime-50/[8%] bg-no-repeat bg-right-top bg-contain;
            background-image: url("https://ifatich4.github.io/img/aksen-green.83b1e1cd.svg");
        }

        &--warning {
            @apply bg-orange-50/10 dark:bg-orange-50/[8%] bg-no-repeat bg-right-top bg-contain;
            background-image: url("https://bucket.pegadaian.co.id/design-system-salt-bucket/assets/images/aksen-yellow.svg");

        }

        &--info {
            @apply bg-blue-50/10 dark:bg-blue-50/[8%] bg-no-repeat bg-right-top bg-contain;
            background-image: url("https://ifatich4.github.io/img/aksen-blue.9555dc63.svg");
        }

        &__title {
            @apply mb-1 text-omicron font-bold leading-none tracking-tight;
        }

        &__description {
            @apply text-sigma font-regular [&_p]:leading-relaxed;
        }

    }
}