@layer components {
    .input-group {
        @apply flex flex-row;
    }

    input {
        @apply flex flex-row flex-grow;

        &:focus {
            @apply outline-none;
        }

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    textarea{
        @apply flex flex-grow
    }

    .input-label {
        @apply text-sigma text-black-80;
    }

    .input {
        @apply text-omicron font-regular items-center flex gap-2 w-full rounded-md border border-input bg-background/[0%] px-3 py-2 ring-offset-background
        focus-ring-none transition-[width] duration-500 mt-1 mb-2 text-black-80 ;

        ::placeholder{
            @apply font-regular text-black-50;
        }

        &:has(.unit-input-left) {
            @apply pl-0 py-0;
        }


        &:has(.unit-input-right) {
            @apply pr-0 py-0;
        }

        &.input-search{
            @apply bg-black-10 border-none text-sigma;

            &.shadow{
                @apply shadow-md;
            }

            input{
                @apply bg-black-10
            }
        }

        textarea {
            @apply outline-none h-[78px];
        }

        &:has(input) {
            @apply h-fit;
        }

        &:has(textarea) {
            @apply h-fit flex flex-row items-start;
        }

        &[aria-invalid="true"] {
            &:focus-visible {
                @apply border-destructive-on-text;
            }
        }

        &--hover-focus {
            &:hover {
                @apply border-input-focus;
            }
        }

        &:has(:focus), &:hover {
            @apply border-input-focus;

            .unit-input-left.active{
                @apply border-r border-r-lime-50;
            }

            .unit-input-right.active{
                @apply border-l border-l-lime-50;
            }
        }

        &:disabled, &:has(:disabled) {
            @apply cursor-not-allowed bg-black-20;

            ::placeholder {
                @apply text-black-60;
            }

            &:hover {
                @apply border-black-20;
            }
            
        }

        &::placeholder {
            @apply text-muted-foreground;
        }

        &:file {
            @apply border-0 bg-primary/[0%];
        }

        &--sm {
            @apply rounded-sm h-7 text-sigma;
        }

        &--md {
            @apply rounded-md h-9 text-omicron;
        }

        &--lg {
            @apply rounded-md h-11;
        }

        &--xl {
            @apply rounded-lg h-14;
        }

        &--remove-arrow {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .unit-input-left {
        @apply bg-black-10 px-3 py-2 rounded-l-md left-0 border-r border-r-black-20 text-black-60 w-[100px] text-center;

        &:has(~ :disabled){
            @apply bg-black-20 border-r-black-40
        }
    }

    .unit-input-right {
        @apply bg-black-10 px-3 py-2 rounded-r-md right-0 border-l border-l-black-20 text-black-60 w-[100px] text-center;

        &:has(~ :disabled){
            @apply bg-black-20 border-l-black-40
        }
    }

    .input-group{
        @apply flex flex-col
    }
}
