.rdt_Table {
    border: 1px solid #EEEEEF;
    border-radius: 6px;
    overflow: hidden;

    .rdt_TableCol {
        background-color: #00AB4E;
        border-right: 1px solid #EEEEEF;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;

        :hover{
            opacity: 100%;
        }
    }

    .rdt_TableBody {
        tr {
            &:hover {
                background-color: red;
            }
        }
    }

    .rdt_TableRow {
        border-bottom: 1px solid red;
    }
}
