@layer base {
    :root {
        --broccoli-90: 172 100% 5.9%;
        --broccoli-80: 172 100% 9%;
        --broccoli-60: 172 100% 12%;
        --broccoli-50: 172 100% 15.1%;
        --broccoli-40: 173 30.8% 36.3%;
        --broccoli-20: 172 17.2% 65.9%;
        --broccoli-10: 171 16.3% 91.6%;

        --lime-90: 147 100% 13.3%;
        --lime-80: 147 100% 20%;
        --lime-60: 147 100% 26.7%;
        --lime-50: 147 100% 33.5%;
        --lime-40: 137 49.4% 49.6%;
        --lime-20: 136 48.9% 73.1%;
        --lime-10: 135 47.1% 93.3%;

        --pear-90: 98 47.6% 20.2%;
        --pear-80: 97 48.1% 30.2%;
        --pear-60: 97 47.6% 40.4%;
        --pear-50: 98 49% 50.8%;
        --pear-40: 97 49.2% 62.9%;
        --pear-20: 98 48.5% 80.2%;
        --pear-10: 95 46.2% 94.9%;

        --kiwi-90: 69 63.8% 20.6%;
        --kiwi-80: 69 64.3% 30.8%;
        --kiwi-60: 69 63.8% 41.2%;
        --kiwi-50: 69 67.6% 51.6%;
        --kiwi-40: 69 67.7% 63.5%;
        --kiwi-20: 69 67.7% 80.6%;
        --kiwi-10: 71 68% 95.1%;

        --red-90: 359 70.4% 15.9%;
        --red-80: 359 70.5% 23.9%;
        --red-60: 358 70.6% 32%;
        --red-50: 358 70.6% 40%;
        --red-40: 358 61.3% 56.5%;
        --red-20: 358 61.3% 76.7%;
        --red-10: 357 60% 94.1%;

        --orange-90: 28 71.2% 20.4%;
        --orange-80: 28 71.8% 30.6%;
        --orange-60: 28 71.3% 41%;
        --orange-50: 28 75% 51.4%;
        --orange-40: 28 74.3% 63.3%;
        --orange-20: 28 74% 80.4%;
        --orange-10: 30 69.2% 94.9%;

        --yellow-90: 40 53.4% 26.1%;
        --yellow-80: 40 53% 39.2%;
        --yellow-60: 40 58% 52.4%;
        --yellow-50: 40 100% 65.5%;
        --yellow-40: 40 100% 74.1%;
        --yellow-20: 52 100% 82.4%;
        --yellow-10: 40 100% 96.5%;

        --gold-90: 40 33.3% 25.3%;
        --gold-80: 40 33% 38%;
        --gold-60: 40 33.9% 50.8%;
        --gold-50: 40 57.8% 63.7%;
        --gold-40: 41 57.1% 72.5%;
        --gold-20: 40 57.3% 85.3%;
        --gold-10: 38 57.9% 96.3%;

        --turquoise-90: 168 100% 13.3%;
        --turquoise-80: 168 100% 20.2%;
        --turquoise-60: 168 100% 26.9%;
        --turquoise-50: 168 100% 33.7%;
        --turquoise-40: 168 50.4% 50.2%;
        --turquoise-20: 168 50% 73.3%;
        --turquoise-10: 169 47.1% 93.3%;

        --blue-90: 207 82.7% 15.9%;
        --blue-80: 207 82.1% 24.1%;
        --blue-60: 207 81.7% 32.2%;
        --blue-50: 207 75.4% 38.2%;
        --blue-40: 207 58% 57.1%;
        --blue-20: 208 57.3% 77.1%;
        --blue-10: 208 58.6% 94.3%;

        --purple-90: 302 54.9% 13.9%;
        --purple-80: 300 54.7% 20.8%;
        --purple-60: 301 54.9% 27.8%;
        --purple-50: 301 55.1% 34.9%;
        --purple-40: 301 29.6% 51%;
        --purple-20: 302 29.3% 73.9%;
        --purple-10: 300 29.4% 93.3%;

        --black-80: 240 3.9% 15.1%;
        --black-60: 240 1.7% 35.1%;
        --black-50: 210 1.9% 58.4%;
        --black-40: 216 3.8% 74.3%;
        --black-20: 240 3% 94%;
        --black-10: 0 0% 97.3%;

        --white: 0 0% 100%;

        --text-white: var(--white);
        --text-primary: var(--black-80);
        --text-secondary: var(--black-60);
        --text-tertiary: var(--black-50);
        --text-green: var(--lime-50);
        --text-muted: var(--black-50);
    }
}